<template>
  <div>
      <Job :id="id"></Job>
      <SpareParts :id="id" ></SpareParts>
      <Services :id="id" ></Services>
      <JobTotal :id="id"></JobTotal>
  </div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import Job from '@/components/Job.vue'
import SpareParts from '@/components/SpareParts.vue'
import Services from '@/components/Services.vue'
import JobTotal from '@/components/JobTotal.vue'
import { mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  // Key for <NuxtChild> (transitions)
  key: (to) => to.fullPath,

  components: {
    DataTable,Job, SpareParts, Services, JobTotal
  },
  // Called to know which transition to apply
  transition(to, from) {
    if (!from) {
      return 'slide-left'
    }
    return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  },
  watchQuery: ['page'],
  computed: {
    ...mapState(['jobObject', 'jobs']),
  },

  data() {
    return {
        id: this.$route.params.id,
    }
  },
  methods: {
    getDiscount(){
      let discount = this.jobs.filter(item => item.id == this.id).map(a => a.discount)[0];
      return discount != null ? discount : 0;
    }
  },
  mounted() {
    this.$store.dispatch('setJobId', this.id);
    this.$store.dispatch('setDiscount', this.getDiscount());
  }
}
</script>

<style lang="scss" scoped></style>
