<template>
      <v-data-table
        :headers="headers"
        :items="tableData"
        :items-per-page="5"
        class="elevation-1 mt-5"
      >

        <template v-slot:top>
          <v-toolbar v-if="toolBar"
            flat
          >
            <v-toolbar-title>{{toolBarName}}</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <slot name="dataModel"></slot>
            <slot name="deleteModel"></slot>
            
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <slot name="actionButtons"></slot>
          
        </template>
        <!-- <template v-slot:no-data>
          <v-btn
            color="primary"
            @click="initialize"
          >
            Reset
          </v-btn>
        </template> -->
     
      </v-data-table>
</template>

<script>
    export default {
        props : {
          headers: {
            type: Array
          },
          tableData: {
            type: Array
          },
          toolBar: {
            type: Boolean,
            default: false,
          },
          toolBarName: {
            type: String,
            default: "Table"
          }
          
        },
        data () {
            return {
                loading:true,
                search: '',
                dates: ['2019-09-10', '2019-09-20'],
                menu: false,
                dialog: false,
                dialogDelete: false,
                // headers: [
                // {
                //     text: 'Job Id',
                //     align: 'start',
                //     value: 'jobId',
                // },
                // { text: 'Customer Name', value: 'customerName' },
                // { text: 'Vehicle', value: 'vehicleNo' },
                // { text: 'Contact No', value: 'contactNo' },
                // { text: 'Next Service Date', value: 'nextServiceDate' },
                // { text: 'Post Service Date', value: 'postServiceDate' },
                // { text: 'Actions', value: 'actions', sortable: false },
                // ],
                // desserts: [
                // {
                //     jobId: 'Frozen Yogurt',
                //     customerName: 159,
                //     vehicleNo: 6.0,
                //     contactNo: 24,
                //     nextServiceDate: 4.0,
                //     postServiceDate: '1%',
                // },
                // {
                //     jobId: 'Frozen Yogurt',
                //     customerName: 159,
                //     vehicleNo: 6.0,
                //     contactNo: 24,
                //     nextServiceDate: 4.0,
                //     postServiceDate: '1%',
                // },
                
                // ],
                editedIndex: -1,
                editedItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
                },
                defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
                },
            }
            },
        components: {
            
        },
        computed: {
            dateRangeText () {
                return this.dates.join(' ~ ')
            },
            },
        methods: {
            newJob(){
              this.$router.push('/jobs/create')
            },

            editItem (item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm () {
                this.desserts.splice(this.editedIndex, 1)
                this.closeDelete()
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            save () {
                if (this.editedIndex > -1) {
                Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                this.desserts.push(this.editedItem)
                }
                this.close()
            },
            
        }
}
</script>

<style lang="scss" scoped>

</style>