<template>
  <div class="drag-aria">
    <div class="upload">
    

        <div class="example-btn">
          <div class="text-center p-5">
            <h4>Drop files anywhere to upload<br/>or</h4>
            <!-- <label for="file" class="btn btn-lg btn-primary">Select Files</label> -->
          </div>
        </div>

      <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
    		<h3>Drop files to upload</h3>
      </div>

      <div class="example-btn">
        <file-upload
          class="btn btn-primary"
          post-action="/upload/post"
          :multiple="true"
          :drop="true"
          :drop-directory="true"
          v-model="files"
          extensions="jpg,gif,png,webp"
          accept="image/png,image/gif,image/jpeg,image/webp"
          :maximum="4"
          ref="upload"
          @input="uploadFile">
          <i class="fa fa-plus"></i>
          Select files
        </file-upload>
        <button type="button" class="btn btn-success" v-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          Start Upload
        </button>
        <button type="button" class="btn btn-danger"  v-else @click.prevent="$refs.upload.active = false">
          <i class="fa fa-stop" aria-hidden="true"></i>
          Stop Upload
        </button>
      </div>

        
    </div>

    <ul v-if="files.length">
      <li v-for="(file, index) in files" :key="file.id">
        <span>{{file.name}}</span> -
        <span>{{file.size | formatSize}}</span> -
        <span v-if="file.error">{{file.error}}</span>
        <span v-else-if="file.success">success</span>
        <span v-else-if="file.active">active</span>
        <span v-else></span>
      </li>
      </ul>

  
    <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>File
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
        <button v-on:click="submitFile()">Submit</button>
    </div>
  </div>
  
  
  </div>

  
</template>
<style>
.drag-aria{
  background-color: rgb(141, 141, 141);
  padding: 30px 0;
}

.drag-aria label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}
.drag-aria .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.drag-aria .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
</style>

<script>
import FileUpload from 'vue-upload-component'
import { mapState } from 'vuex';
export default {
  components: {
    FileUpload,
  },
  data() {
    return {
      files: [],
      file: ''
    }
  },
  computed: {
    ...mapState([
            'images',
        ]),
  },
  methods: {
    getObject(){
      return {
        file :  this.files[0]['file']
      }
    },
    uploadFile(){
      this.$store.dispatch('saveImage', this.getObject())
      console.log('object', this.getObject());
      console.log("dropped", this.getObject());
    },
     handleFileUpload(){
    this.file = this.$refs.file.files[0];
    console.log('this.file', this.file);
  },

  submitFile(){
    let formData = new FormData();
    formData.append('file', this.file);
},
  },
}
</script>