<template>
    
    <v-card class="spacing-playground" elevation="5" :loading="loading">
      <template>
          <form>
                <v-card-text>
                  <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                            v-model="$v.jobObject.jobId.$model"
                            label="Job ID"
                            :error-messages="jobNoValidations"
                            required
                            @input="$v.jobObject.jobId.$touch()"
                            @blur="$v.jobObject.jobId.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" >
                                <v-select
                                :items="customers"
                                label="Customer"
                                v-model="$v.jobObject.customer.$model"
                                :error-messages="customerValidation"
                                required
                                @input="$v.jobObject.customer.$touch()"
                                @blur="$v.jobObject.customer.$touch()"
                                :item-text="item => item.firstName +' '+ item.lastName"
                                item-value="id"
                                @change="loadRelatedData()"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" >
                                <v-select
                                :items="jobs"
                                label="Past Job"
                                v-model="$v.jobObject.pastJob.$model"
                                :error-messages="pastJobValidation"
                                required
                                @input="$v.jobObject.pastJob.$touch()"
                                @blur="$v.jobObject.pastJob.$touch()"
                                :item-text="item => item.jobId"
                                item-value="id"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" >
                                <v-select
                                :items="vehicles"
                                label="Vehicle "
                                v-model="$v.jobObject.vehicle.$model"
                                :error-messages="vehicleValidation"
                                required
                                @input="$v.jobObject.vehicle.$touch()"
                                @blur="$v.jobObject.vehicle.$touch()"
                                :item-text="item => item.vehicleNumber"
                                item-value="id"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                            v-model="$v.jobObject.pastMileage.$model"
                            label="Past Mileage"
                            :error-messages="pastMileageValidations"
                            required
                            @input="$v.jobObject.pastMileage.$touch()"
                            @blur="$v.jobObject.pastMileage.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                            v-model="$v.jobObject.currentMileage.$model"
                            label="Current Mileage"
                            :error-messages="currentMileageValidations"
                            required
                            @input="$v.jobObject.currentMileage.$touch()"
                            @blur="$v.jobObject.currentMileage.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                            v-model="$v.jobObject.nextServiceMileage.$model"
                            label="Next Service Mileage"
                            :error-messages="nextServiceMileageValidations"
                            required
                            @input="$v.jobObject.nextServiceMileage.$touch()"
                            @blur="$v.jobObject.nextServiceMileage.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-menu
                                ref="menu"
                                v-model="menu"
                                :close-on-content-click="false"
                                :return-value.sync="$v.jobObject.nextServiceDate.$model"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                                
                            >
                                <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="$v.jobObject.nextServiceDate.$model"
                                    label="Next Service Date"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    :error-messages="nextServiceDateValidations"
                                    required
                                    @input="$v.jobObject.nextServiceDate.$touch()"
                                    @blur="$v.jobObject.nextServiceDate.$touch()"
                                    v-bind="attrs"
                                    v-on="on"
                                ></v-text-field>
                                </template>
                                <v-date-picker
                                v-model="$v.jobObject.nextServiceDate.$model"
                                no-title
                                scrollable
                                >
                                <v-spacer></v-spacer>
                                <v-btn
                                    text
                                    color="primary"
                                    @click="menu = false"
                                >
                                    Cancel
                                </v-btn>
                                <v-btn
                                    text
                                    color="primary"
                                    @click="$refs.menu.save($v.jobObject.nextServiceDate.$model)"
                                >
                                    OK
                                </v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    </v-container>
                </v-card-text>
                <v-container class="d-flex justify-end">
                    <v-btn class="mr-4" @click="clear"> clear </v-btn>
                    <v-btn  color="primary" @click="submit"> save </v-btn>
                </v-container>
          </form>
        </template>
    </v-card>

</template>

<script>
import { mapState } from 'vuex'
import { required, decimal } from 'vuelidate/lib/validators'
    export default {
        props: {
            id: {Number}
            // jobObject: {Object}
        },
        async created(){
            await this.$store.dispatch('getCustomerList');
            await this.$store.dispatch('getJobList');
            // await this.$store.dispatch('getVehicleList');
            if(this.id){
                this.setData();
            }
            this.loading = false; 
        },
        computed: {
        ...mapState(['customers', 'jobs', 'vehicles', 'jobId']),
        jobNoValidations() {
            const errors = []
            if (!this.$v.jobObject.jobId.$dirty) return errors
            !this.$v.jobObject.jobId.required && errors.push('Job no is required.')
            return errors
        },
        customerValidation() {
            const errors = []
            if (!this.$v.jobObject.customer.$dirty) return errors
            !this.$v.jobObject.customer.required && errors.push('Customer is required.')
            return errors
        },
        pastJobValidation() {
            const errors = []
            if (!this.$v.jobObject.pastJob.$dirty) return errors
            return errors
        },
        vehicleValidation() {
            const errors = []
            if (!this.$v.jobObject.vehicle.$dirty) return errors
            !this.$v.jobObject.vehicle.required && errors.push('Vehicle is required.')
            return errors
        },
        pastMileageValidations() {
            const errors = []
            if (!this.$v.jobObject.pastMileage.$dirty) return errors
            !this.$v.jobObject.pastMileage.required && errors.push('Past Milage is required.')
            !this.$v.jobObject.pastMileage.decimal && errors.push('Past Milage must be a decimal number')
            return errors
        },
        currentMileageValidations() {
            const errors = []
            if (!this.$v.jobObject.currentMileage.$dirty) return errors
            !this.$v.jobObject.currentMileage.required && errors.push('Current Milage is required.')
            !this.$v.jobObject.currentMileage.decimal && errors.push('Current Milage must be a decimal number')
            return errors
        },
        nextServiceMileageValidations() {
            const errors = []
            if (!this.$v.jobObject.nextServiceMileage.$dirty) return errors
            !this.$v.jobObject.nextServiceMileage.required && errors.push('Current Milage is required.')
            !this.$v.jobObject.nextServiceMileage.decimal && errors.push('Current Milage must be a decimal number')
            return errors
        },
        nextServiceDateValidations() {
            const errors = []
            if (!this.$v.jobObject.nextServiceDate.$dirty) return errors
            !this.$v.jobObject.nextServiceDate.required && errors.push('Next Service is required.')
            return errors
        },
    },
    validations: {
        jobObject: {
            jobId: { required },
            customer: { required },
            pastJob: { },
            vehicle: { required },
            pastMileage: { required,  decimal},
            currentMileage: { required, decimal },
            nextServiceMileage: { required, decimal },
            nextServiceDate: { required },
        }
    },
    data() {
        return {
            loading:true,
            menu: false,
            modal: false,
            jobObject: {
                jobId: '',
                customer: '',
                pastJob: '',
                vehicle: '',
                pastMileage: '',
                currentMileage: '',
                nextServiceMileage: '',
                nextServiceDate: new Date().toISOString().substr(0, 10),
            }
        }
    },
    

    methods: {

        loadRelatedData(){
            this.jobObject.vehicle = null;
            this.jobObject.pastJob
            this.$store.dispatch('findVehicleByComapny', this.jobObject.customer);
        },

        setData(){
            const editObject = this.jobs.filter(item => item.id == this.id)[0];
            this.jobObject.jobId = editObject.jobId;
            this.jobObject.customer = editObject.customer;
            this.jobObject.pastJob = editObject.pastJob;
            this.jobObject.vehicle = editObject.vehicle;
            this.jobObject.pastMileage = editObject.pastMileage;
            this.jobObject.currentMileage = editObject.currentMileage;
            this.jobObject.nextServiceMileage = editObject.nextServiceMileage;
            this.jobObject.nextServiceDate = editObject.nextServiceDate.split('T')[0];
        },
        getJobObject(){
            return {
                jobObject: {
                    jobId: this.jobObject.jobId,
                    customer:  (typeof this.jobObject.customer == 'object') ? this.jobObject.customer.id : this.jobObject.customer,
                    pastJob: (typeof this.jobObject.pastJob == 'object') ?  this.jobObject.pastJob.id : this.jobObject.pastJob,
                    vehicle: (typeof this.jobObject.vehicle == 'object') ?  this.jobObject.vehicle.id : this.jobObject.vehicle,
                    pastMileage: this.jobObject.pastMileage,
                    currentMileage: this.jobObject.currentMileage,
                    nextServiceMileage: this.jobObject.nextServiceMileage,
                    nextServiceDate: this.jobObject.nextServiceDate + 'T00:00:00',
                },
                id: this.jobId
            }
        },

        submit(){
            this.$v.$touch()
            if (!this.$v.$invalid) {
                if(this.jobId){
                    this.$store.dispatch('updateJob', this.getJobObject())
                } else{
                    this.$store.dispatch('saveJob', this.getJobObject())
                }
            }
        },
        clear(){
            this.jobObject.jobId = '';
            this.jobObject.customer ='';
            this.jobObject.pastJob = '';
            this.jobObject.vehicle = '';
            this.jobObject.pastMileage = '';
            this.jobObject.currentMileage = '';
            this.jobObject.nextServiceMileage = '';
            this.jobObject.nextServiceDate = '';
        }
    }
    }
</script>

<style lang="scss" scoped>

</style>