<template>
    <div>
        <v-data-table
        :pageCount="numberOfPages"
        :headers="upcomming ? headersUpcommig  :  headersView "
        :items="jobs"
        :loading="loading"
        :options.sync="options"
        :server-items-length="totalGridItems"
        loading-text="Loading... Please wait"
        class="elevation-1 mt-5"
        :sort-desc="true"
      >

        <template v-slot:top>
          <v-toolbar 
            flat
          >
            <v-toolbar-title>Jobs</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-text-field v-if="!upcomming"
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              class="mr-3"
              single-line
              hide-details
            ></v-text-field>
            <v-btn
                color="primary"
                dark
                class="mb-2"
                @click="newJob()"
            >
                New Job
            </v-btn>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
             
      </v-data-table>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { required, email, numeric,  maxLength } from "vuelidate/lib/validators";

export default {
    middleware: 'authenticated',
    props: {
        upcomming: Boolean,
        upcommingSearch: String,
        startDate: String,
        endDate: String
    },
    computed: {
        ...mapState([
            'jobs','totalGridItems','numberOfPages'
        ]),

    },
    async mounted(){
      // this.loading = true;
      // this.readDataFromAPI();
        
    }, 
     watch: {
        options: {
          handler() {
            this.loading = true;
            this.readDataFromAPI();
          },
        },
        deep: true,
        search: function(val, oldVal) {
          this.getData()
        },
        upcommingSearch: function(val, oldVal) {
            this.getData();
        },
        startDate: function(val, oldVal) {
            this.getData();
        },
        endDate: function(val, oldVal) {
            this.getData();
        }
      },
    data(){
        return {
            timer: '',
            search: '',
            options: {},
            page: 0,
            loading:true,
            tableName: "Jobs",
            headersView: [
                { text: 'Job Id', align: 'center', value: 'job_id',},
                { text: 'Customer Name', align: 'center', value: 'first_name',},
                { text: 'Past Job', value: 'past_job', align: 'center', },
                { text: 'Vehicle', value: 'vehicle_registry', align: 'center', },
                { text: 'Past Mileage', value: 'past_mileage', align: 'center', },
                { text: 'Current Mileage', value: 'current_mileage', align: 'center', },
                { text: 'Next Service Mileage', value: 'next_service_mileage', align: 'center', },
                { text: 'Next Service At', value: 'next_service_at', align: 'center', },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
            headersUpcommig: [
            { text: 'Job Id', align: 'center', value: 'job_id',},
            { text: 'Customer Name', align: 'center', value: 'first_name',},
            { text: 'Vehicle', value: 'vehicle_registry', align: 'center', },
            { text: 'Contact Number', value: 'mobile_number', align: 'center', },
            { text: 'Past Service Date', value: 'next_service_at', align: 'center', },
            { text: 'Next Service Date', value: 'past_next_service_at', align: 'center', },
            { text: 'Actions', value: 'actions', sortable: false },
        ],
            editedIndex: -1,
            dialog: false,
            dialogDelete: false,
            editedItem: ''
          
        }
    },

    methods: {
            getData(){
                clearTimeout(this.timer);
                this.timer = setTimeout(() => {
                    this.loading = true;
                    this.readDataFromAPI();
                }, 500);
            },
            getOptions(){
              return {
                options : this.options,
                search: this.upcomming ? this.upcommingSearch : this.search,
                startDate: this.upcomming ? this.startDate : '',
                endDate: this.upcomming ? this.endDate : '',
              }
            },
            async readDataFromAPI(){
              console.log('this.search',this.search);
              await this.$store.dispatch('getJobs', this.getOptions());
              this.loading = false;   
            },
            newJob(){
                this.$router.push('/jobs/create')
            },
            editItem (item) {
                this.$router.push('/jobs/edit/' + item.id)
            },

            deleteItem (item) {
                console.log('item---', item);
                this.editedIndex = this.jobs.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm () {
                this.$store.dispatch('deleteJob', this.editedItem.id)
                this.closeDelete()
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

          
        
    }
      
}
</script>

<style lang="scss" scoped>

</style>