<template>
    <div>
        <v-container class="d-flex justify-end padding-0 mt-4">
            <v-card class="spacing-playground d-flex flex-column align-end padding-3 totalAmountCard" elevation="5">
                <div class="d-flex contentWidth">
                    <div class="gridItem d-flex align-center justify-end mr-5">
                        <p class="mb-0 totalPrice">Total :</p>
                    </div>
                    <div class="gridItem">
                        <p class="mb-0 totalPrice">Rs. {{getTotal}}</p>
                    </div>
                </div>
                <div class="d-flex contentWidth">
                    <div class="gridItem d-flex align-center justify-end mr-5">
                        <p class="mb-0 totalPrice">Discount :</p>
                    </div>
                    <div class="gridItem">
                        <form>
                            <v-text-field
                            v-model="$v.discount.$model"
                            :error-messages="discountValidation"
                            prefix="Rs."
                            @input="$v.discount.$touch()"
                            @blur="$v.discount.$touch()"
                            ></v-text-field>
                        </form>
                    </div>
                </div>
                <div class="d-flex contentWidth mb-2">
                    <div class="gridItem d-flex align-center justify-end mr-5">
                        <p class="mb-0 totalPrice">Grand Total :</p>
                    </div>
                    <div class="gridItem">
                        <p class="mb-0 totalPrice">Rs. {{getGrandTotal}}</p>
                    </div>
                </div>
                <v-container class="d-flex justify-end padding-0 mt-5">
                    <v-btn class="mr-4" @click="cancle"> Cancel </v-btn>
                    <v-btn  color="primary" @click="submit"> Save </v-btn>
                </v-container>
            </v-card>
          
      </v-container>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import { decimal } from 'vuelidate/lib/validators'

    export default {
        computed: {
            ...mapState(['spareTotal', 'jobServiceTotal', 'jobId', 'jobDiscount']),
            getTotal(){
                let total = parseFloat(this.spareTotal) + parseFloat(this.jobServiceTotal);
                return total.toFixed(2);
            },
            getGrandTotal(){
                let grandTotal = parseFloat(this.spareTotal) + parseFloat(this.jobServiceTotal) - this.discount;
                return grandTotal.toFixed(2);
            },
             discountValidation() {
                const errors = []
                if (!this.$v.discount.$dirty) return errors
                !this.$v.discount.decimal && errors.push('Discount must be a decimal value.')
                return errors
            },

        },
        data() {
            return {
                discount: this.jobDiscount != null ? this.jobDiscount : 0,
            }
        },
        watch: {
            jobDiscount: function(value, oldValue){
                this.discount = this.jobDiscount
                console.log('this.jobDiscount',this.jobDiscount);
            }
        },
        validations: {
            discount: {decimal}
        },
        methods: {
            getDiscountObject(){
                return {
                    discount : this.discount ? this.discount : 0 ,
                    jobId: this.jobId
                }
            },
            async submit(){
                await this.$store.dispatch('updateDiscount', this.getDiscountObject());
                this.$toast.success('Job Saved').goAway(1500); 
                this.$router.push('/jobs/view')
                

            },
            cancle(){
                this.discount = 0;
            }
        }
        
    }
</script>

<style lang="scss" scoped>
    .totalAmountCard{
        width: 400px;
        height: 230px;
    }
    .padding-0 {
      padding: 0 !important;
    }
    .padding-3{
      padding: 15px;
    }
    .contentWidth{
        width: 80%;
    }
    .gridItem{
        width: 50%;
    }
</style>