<template>
    <div class="category-table-section" style="width: 100%">
        <v-data-table
        :headers="headers"
        :items="jobServices"
        :items-per-page="10"
        class="elevation-1 mt-5"
        :loading="loading"
        loading-text="Loading... Please wait"
      >

        <template v-slot:top>
          <v-toolbar 
            flat
          >
            <v-toolbar-title>Services</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog
              v-model="dialog"
              max-width="500px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                  :disabled="!hasJobId"
                  @click="newJob()"
                >
                  New Service
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Service</span>
                </v-card-title>

                <form>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="12" >
                          <v-select
                          :items="services"
                          label="Service Registry"
                          v-model="$v.editedItem.service_registry.$model"
                          :error-messages="service_registryValidations"
                          required
                          @input="$v.editedItem.service_registry.$touch()"
                          @blur="$v.editedItem.service_registry.$touch()"
                          :item-text="item => item.service_name"
                          item-value="id"
                      ></v-select>
                      </v-col>
                      <v-col cols="12" sm="12" md="12" >
                        <v-text-field
                        label="Quantity"
                        v-model="$v.editedItem.quantity.$model"
                        :error-messages="quantityValidations"
                        required
                        @input="$v.editedItem.quantity.$touch()"
                        @blur="$v.editedItem.quantity.$touch()"
                        ></v-text-field>
                    </v-col>
                      <v-col cols="12" sm="12" md="12" >
                          <v-select
                          :items="technicians"
                          label="Technician"
                          v-model="$v.editedItem.technician.$model"
                          :error-messages="technicianValidations"
                          required
                          @input="$v.editedItem.technician.$touch()"
                          @blur="$v.editedItem.technician.$touch()"
                          :item-text="item => item.technician_first_name + ' '+ item.technician_last_name"
                          item-value="id"
                      ></v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
     
      </v-data-table>
      <v-container class="d-flex justify-end padding-0 mt-4">
        <v-card class="spacing-playground d-flex padding-3" elevation="5">
          <p class="mb-0 totalPrice">Service Total : Rs. {{jobServiceTotal}}</p>
        </v-card>
          
      </v-container>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import { required, numeric } from "vuelidate/lib/validators";
    
    export default {
        middleware: 'authenticated',
        async created(){
          if(this.id){
            await this.$store.dispatch('getJobService', this.id);
          }
          await this.$store.dispatch('getServiceList');
          await this.$store.dispatch('getTechnicianList');
          this.loading = false;
        },
        props: {
            id: {Number}
        },
        computed:{
             ...mapState([
                'jobServices', 'services' , 'technicians', 'jobId' ,'jobServiceTotal'       
            ]),
             service_registryValidations () {
                const errors = []
                if (!this.$v.editedItem.service_registry.$dirty) return errors
                    !this.$v.editedItem.service_registry.required && errors.push('Spare is required.')
                return errors
            },
             technicianValidations () {
                const errors = []
                if (!this.$v.editedItem.technician.$dirty) return errors
                    !this.$v.editedItem.technician.required && errors.push('Spare is required.')
                return errors
            },
             quantityValidations () {
                const errors = []
                if (!this.$v.editedItem.quantity.$dirty) return errors
                    !this.$v.editedItem.quantity.required && errors.push('Quantity is required.')
                    !this.$v.editedItem.quantity.numeric && errors.push('Quantity should be a number')
                return errors
            },
            hasJobId(){
              return this.jobId ? true: false;
            },
        },
        data(){
            return {
                loading:true,
                dialog: false,
                dialogDelete: false,
                headers: [
                        { text: 'Service Name', align: 'center', value: 'service_name'},
                        { text: 'Charge', align: 'center', value: 'service_charge'},
                        { text: 'Quantity', align: 'center', value: 'quantity'},
                        { text: 'Technician', align: 'center', value: 'technician_first_name'},
                        { text: 'Total', align: 'center', value: 'total'},
                        { text: 'Actions', value: 'actions', align: 'center',sortable: false },
                    ],
                editedIndex: -1,
                editedItem: {
                    id: '',
                    service_registry: '',
                    technician: '',
                    quantity: '',
                },
                defaultItem: {
                    id: '',
                    service_registry: '',
                    technician: '',
                    quantity: ''
                },
            }
        },
        validations: {
            editedItem: {
                service_registry: {required},
                quantity: {required, numeric},
                technician: {required},
            }
        },
        methods: {
            newJob(){

            },
             editItem (item) {
                 console.log('edit item',item);
                this.editedIndex = this.jobServices.indexOf(item)
                this.editedItem = Object.assign({}, item)
                console.log(this.editedIndex, this.editedItem );
                this.dialog = true
            },

            deleteItem (item) {
                this.editedIndex = this.jobServices.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
            },

            async deleteItemConfirm () {
                await this.$store.dispatch('deleteJobService', this.editedItem.id);
                this.closeDelete()
                await this.$store.dispatch('getJobService', this.jobId);
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            getJobServiceObject(){
                return {
                    editJobService: {
                        service_registry: this.editedItem.service_registry,
                        quantity: this.editedItem.quantity,
                        technician: this.editedItem.technician,
                    },
                    id: this.editedItem.id,
                    jobId: this.jobId
                }
            },
            async save(){
                this.$v.$touch()
                if(!this.$v.$invalid){
                  if (this.editedIndex > -1) {
                      await this.$store.dispatch('updateJobService', this.getJobServiceObject())
                      await this.$store.dispatch('getJobService', this.jobId);
                  } else {
                      await this.$store.dispatch('saveJobService',this.getJobServiceObject());
                      await this.$store.dispatch('getJobService', this.jobId);
                  }
                  this.addMood = false;
                  this.close()
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .category-table-section{
        width: 100%;
    }
    .padding-0 {
      padding: 0 !important;
    }
    .padding-3{
      padding: 15px;
    }
    .totalPrice{
      font-size: 16px;
    }
</style>