<template>
  <v-app dark>
    <!-- <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <div v-for="(item, i) in items">
          <v-list-item
            v-if="!item.subLinks"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
           <v-list-group
            v-else
            :key="item.title"
            no-action
        >
            <template v-slot:activator>
               <v-list-tile>
                 <v-list-tile-content>
                   <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                 </v-list-tile-content>
               </v-list-tile>
             </template>

            <v-list-tile
                v-for="sublink in item.subLinks"
                :to="sublink.to"
                :key="sublink.title"
            >
                <v-list-tile-title v-text="sublink.title" />
            </v-list-tile>

           </v-list-group>

        </div>
      </v-list>
      
    </v-navigation-drawer> -->
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      >
      <!-- -->
      

      <v-list nav dense>
        <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Service App
          </v-list-item-title>
          <v-list-item-subtitle>
            organize your work
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
       <div v-for="(link, i) in items" :key="i">

        <v-list-item
            v-if="!link.subLinks"
            :to="link.to"
            class="v-list-item"
        >
            <v-list-item-icon>
                <v-icon>{{ link.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-title v-text="link.title" />
        </v-list-item>

        <v-list-group
            v-else
            :key="link.title"
            no-action
            :prepend-icon="link.icon"
            :value="false"
        >
            <template v-slot:activator>
              <v-list-item-title>{{ link.title }}</v-list-item-title>
             </template>

            <v-list-item
                v-for="sublink in link.subLinks"
                :to="sublink.to"
                :key="sublink.title"
            >
                <v-list-item-icon>
                  <v-icon>{{ sublink.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{ sublink.title }}</v-list-item-title>

            </v-list-item>

        </v-list-group>

    </div>

      </v-list>

    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn @click="signOut">
        <v-icon >mdi-export</v-icon> 
        Logout
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined;
export default {
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: true,
      items: [
        {
          icon: 'mdi-transfer-up',
          title: 'Upcoming Services',
          to: '/',
        },
        {
          icon: 'mdi-account-arrow-right',
          title: 'Customers',
          to: '/customer',
        },
        {
          icon: 'mdi-car',
          title: 'Vehicles',
          to: '/vehicle',
        },
        {
          icon: 'mdi-tools',
          title: 'Jobs',
          to: '/jobs/view',
        },
        {
          icon: 'mdi-store-plus',
          title: 'Inventory',
          subLinks : [
            {
                title : 'Category',
                to    : '/inventory/category',
                icon  : 'mdi-set-merge'
            },
            {
                title : 'Inventory',
                to    : '/inventory/grid',
                icon  : 'mdi-file-document-edit'
            },
        ]
          
        },
        {
          icon: 'mdi-plus-network-outline',
          title: 'Service Registry',
          to: '/service',
        },
        {
          icon: 'mdi-account-hard-hat',
          title: 'Technician Registry',
          to: '/technician',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Service App',
    }
  },
  methods: {
    signOut(){
      this.$store.dispatch('logout');
      this.$router.push('/login');
    }
  }
}
</script>
