<template>
    <div class="category-table-section" style="width: 50%">
        <v-data-table
        :headers="headers"
        :items="categories"
        :items-per-page="10"
        class="elevation-1 mt-5"
        :loading="loading"
        loading-text="Loading... Please wait"
      >

        <template v-slot:top>
          <v-toolbar 
            flat
          >
            <v-toolbar-title>Categories</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog
              v-model="dialog"
              max-width="500px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                  @click="newJob()"
                >
                  New Category
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Category</span>
                </v-card-title>

                <form>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="12"
                        md="12"
                    >
                    
                        <v-text-field
                        label="Category Name"
                        v-model="$v.editedItem.categoryName.$model"
                        :error-messages="categoryValidations"
                        required
                        @input="$v.editedItem.categoryName.$touch()"
                        @blur="$v.editedItem.categoryName.$touch()"
                        ></v-text-field>
                    </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
     
      </v-data-table>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import { required } from "vuelidate/lib/validators";
    
    export default {
        middleware: 'authenticated',
        async created(){
            await this.$store.dispatch('getCategories');
            this.loading = false;
        },
        computed:{
             ...mapState([
                'categories'        
            ]),
             categoryValidations () {
                const errors = []
                if (!this.$v.editedItem.categoryName.$dirty) return errors
                    !this.$v.editedItem.categoryName.required && errors.push('Category is required.')
                return errors
            },
        },
        data(){
            return {
                loading:true,
                dialog: false,
                dialogDelete: false,
                toolBarName: 'Categories',
                headers: [
                        { text: 'Category', align: 'center', value: 'categoryName'},
                        { text: 'Actions', value: 'actions', align: 'center',sortable: false },
                    ],
                editedIndex: -1,
                editedItem: {
                    id: '',
                    categoryName: ''
                },
                defaultItem: {
                    id: '',
                    categoryName: ''
                },
            }
        },
        validations: {
            editedItem: {
                categoryName: {required},
            }
        },
        methods: {
            newJob(){

            },
             editItem (item) {
                 console.log('edit item',item);
                this.editedIndex = this.categories.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                this.editedIndex = this.categories.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm () {
                this.$store.dispatch('deleteCategory', this.editedItem.id)
                this.closeDelete()
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            getCategoryObject(){
                return {
                    editCategory: {
                        categoryName: this.editedItem.categoryName,
                    },
                    categoryId: this.editedItem.id,
                    editIndex: this.editedIndex
                }
            },
            save(){
                this.$v.$touch()
                if(!this.$v.$invalid){
                  if (this.editedIndex > -1) {
                      this.$store.dispatch('updateCategory', this.getCategoryObject())
                  } else {
                      this.$store.dispatch('saveCategory', this.editedItem)
                  }
                  this.addMood = false;
                  this.close()
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .category-table-section{
        width: 50%;
    }
</style>