<template>
    <div>
        <v-data-table
        :headers="headers"
        :items="inventory"
        :items-per-page="10"
        class="elevation-1 mt-5"
        :loading="loading"
        loading-text="Loading... Please wait"
        :options.sync="options"
        :pageCount="numberOfPages"
        :server-items-length="totalGridItems"
        :sort-desc="true"
      >

        <template v-slot:top>
          <v-toolbar 
            flat
          >
            <v-toolbar-title>Inventory</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              class="mr-3"
              single-line
              hide-details
            ></v-text-field>
            <v-dialog
              v-model="dialog"
              max-width="1000px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                  @click="newJob()"
                >
                  New Item
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Item</span>
                </v-card-title>

                <form>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                    >
                    
                        <v-text-field
                        label="Part Name"
                        v-model="$v.editedItem.partName.$model"
                        :error-messages="partNameValidation"
                        required
                        @input="$v.editedItem.partName.$touch()"
                        @blur="$v.editedItem.partName.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="6"
                    >
                    
                        <v-text-field
                        label="Part Number"
                        v-model="$v.editedItem.partNumber.$model"
                        :error-messages="partNumberValidation"
                        required
                        @input="$v.editedItem.partNumber.$touch()"
                        @blur="$v.editedItem.partNumber.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="6"
                    >
                    
                        <v-text-field
                        label="Perchased Price"
                        v-model="$v.editedItem.purchasedPrice.$model"
                        :error-messages="purchasedPriceValidation"
                        required
                        prefix="Rs."
                        @input="$v.editedItem.purchasedPrice.$touch()"
                        @blur="$v.editedItem.purchasedPrice.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="6"
                    >
                    
                        <v-text-field
                        label="Sales Price"
                        v-model="$v.editedItem.salePrice.$model"
                        :error-messages="salePriceValidation"
                        required
                        prefix="Rs."
                        @input="$v.editedItem.salePrice.$touch()"
                        @blur="$v.editedItem.salePrice.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="6"
                    >

                        <v-checkbox
                        label="Warrenty"
                        v-model="$v.editedItem.warrentyStatus.$model"
                        :error-messages="warrentyStatusValidation"
                        required
                        @input="$v.editedItem.warrentyStatus.$touch()"
                        @blur="$v.editedItem.warrentyStatus.$touch()"
                        ></v-checkbox>
                        
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="6"
                    >
                    
                        <v-text-field
                        label="Warrenty Duration"
                        v-model="$v.editedItem.warrantyDuration.$model"
                        :error-messages="warrantyDurationValidation"
                        required
                        @input="$v.editedItem.warrantyDuration.$touch()"
                        @blur="$v.editedItem.warrantyDuration.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="6"
                    >
                    
                        <v-select
                        :items="categories"
                        label="Category"
                        v-model="$v.editedItem.category.$model"
                        :error-messages="categoryErrors"
                        required
                        @input="$v.editedItem.category.$touch()"
                        @blur="$v.editedItem.category.$touch()"
                        item-text="categoryName"
                        item-value="id"
                      
                        ></v-select>
                    </v-col>
                </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import { required, decimal, numeric } from "vuelidate/lib/validators";
    
    export default {
        middleware: 'authenticated',
        async created(){
            await this.$store.dispatch('getCategories');
        },
        computed:{
             ...mapState([
                'inventory', 'categories', 'numberOfPages', 'totalGridItems'        
            ]),
             partNameValidation () {
                const errors = []
                if (!this.$v.editedItem.partName.$dirty) return errors
                    !this.$v.editedItem.partName.required && errors.push('Part name is required.')
                return errors
            },
             partNumberValidation () {
                const errors = []
                if (!this.$v.editedItem.partNumber.$dirty) return errors
                    !this.$v.editedItem.partNumber.required && errors.push('Part Number is required.')
                return errors
            },
             purchasedPriceValidation () {
                const errors = []
                if (!this.$v.editedItem.purchasedPrice.$dirty) return errors
                    !this.$v.editedItem.purchasedPrice.required && errors.push('Purchased Price is required.')
                    !this.$v.editedItem.purchasedPrice.decimal && errors.push('Purchased Price need to be a decimal value.')
                return errors
            },
             salePriceValidation () {
                const errors = []
                // if (!this.$v.editedItem.salePrice.$dirty) return errors
                //     !this.$v.editedItem.salePrice.required && errors.push('Purchased Price is required.')
                //     !this.$v.editedItem.salePrice.decimal && errors.push('Purchased Price need to be a decimal value.')
                return errors
            },
             warrentyStatusValidation () {
                const errors = []
                if (!this.$v.editedItem.warrentyStatus.$dirty) return errors
                    !this.$v.editedItem.warrentyStatus.required && errors.push('Warranty Status is required.')
                return errors
            },
             warrantyDurationValidation () {
                const errors = []
                if (!this.$v.editedItem.warrantyDuration.$dirty) return errors
                    !this.$v.editedItem.warrantyDuration.numeric && errors.push('Warranty Dutation must be a number.')
                return errors
            },
             categoryErrors () {
                const errors = []
                if (!this.$v.editedItem.category.$dirty) return errors
                    !this.$v.editedItem.category.required && errors.push('Category is required.')
                return errors
            },
        },
        data(){
            return {
                timer: '',
                search: '',
                options: {},
                loading:true,
                dialog: false,
                dialogDelete: false,
                toolBarName: 'Categories',
                headers: [
                        { text: 'Part Name', align: 'center', value: 'partName'},
                        { text: 'Part Number', align: 'center', value: 'partNumber'},
                        { text: 'Purchased Price', align: 'center', value: 'purchasedPrice'},
                        { text: 'Sale Price', align: 'center', value: 'salePrice'},
                        { text: 'Warrenty Status', align: 'center', value: 'warrentyStatus'},
                        { text: 'Warrenty Duration', align: 'center', value: 'warrantyDuration'},
                        { text: 'Actions', value: 'actions', align: 'center',sortable: false },
                    ],
                editedIndex: -1,
                editedItem: {
                    id: '',
                    category: '',
                    partName: '',
                    partNumber: '',
                    purchasedPrice: '',
                    salePrice: '',
                    warrentyStatus: true,
                    warrantyDuration: '',
                },
                defaultItem: {
                    id: '',
                    category: '',
                    partName: '',
                    partNumber: '',
                    purchasedPrice: '',
                    salePrice: '',
                    warrentyStatus: true,
                    warrantyDuration: '',
                },
            }
        },
        validations: {
            editedItem: {
                category: {required},
                partName: {required},
                partNumber: {required},
                purchasedPrice: {required, decimal},
                salePrice: {required},
                warrentyStatus: {required},
                warrantyDuration: {numeric},
            }
        },
        watch: {
          options: {
            handler() {
              this.loading = true;
              this.readDataFromAPI();
            },
          },
          deep: true,
          search: function(val, oldVal) {
            clearTimeout(this.timer);
            this.timer = setTimeout(() => {
                this.loading = true;
              this.readDataFromAPI();
            }, 500);
          }
        },
        methods: {
          getOptions(){
              return {
                options : this.options,
                search: this.search
              }
            },
            async readDataFromAPI(){
              console.log('this.search',this.search);
              await this.$store.dispatch('getInventory',this.getOptions());
              this.loading = false; 
            },
            newJob(){

            },
             editItem (item) {
                console.log('edit item',item);
                this.editedIndex = this.inventory.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                this.editedIndex = this.inventory.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm () {
                this.$store.dispatch('deleteInventory', this.editedItem.id)
                this.closeDelete()
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            getInventoryObject(){
                return {
                    editInventory: {
                        categoryId: this.editedItem.category.id,
                        partName: this.editedItem.partName,
                        partNumber: this.editedItem.partNumber,
                        purchasedPrice: this.editedItem.purchasedPrice,
                        salePrice: this.editedItem.salePrice,
                        warrentyStatus: this.editedItem.warrentyStatus,
                        warrantyDuration: this.editedItem.warrantyDuration,
                    },
                    inventoryId: this.editedItem.id,
                    editIndex: this.editedIndex
                }
            },

            getInventorySaveObject(){
              return{
                categoryId: this.editedItem.category,
                partName: this.editedItem.partName,
                partNumber: this.editedItem.partNumber,
                purchasedPrice: this.editedItem.purchasedPrice,
                salePrice: this.editedItem.salePrice,
                warrentyStatus: this.editedItem.warrentyStatus,
                warrantyDuration: this.editedItem.warrantyDuration,
              }
            },

            save(){
                this.$v.$touch()
                if(!this.$v.$invalid){
                  if (this.editedIndex > -1) {
                      this.$store.dispatch('updateInventory', this.getInventoryObject())
                  } else {
                      this.$store.dispatch('saveInventory', this.getInventorySaveObject())
                  }
                  this.addMood = false;
                  this.close()
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>