<template>
    <div>
        <!-- <DataTable :headers="headers" :desserts="customers" :toolBar="true" :toolBarName="tableName">
            
        </DataTable> -->
        <v-data-table
        :pageCount="numberOfPages"
        :headers="headers"
        :items="customers"
        :loading="loading"
        :options.sync="options"
        :server-items-length="totalGridItems"
        loading-text="Loading... Please wait"
        class="elevation-1 mt-5"
        :sort-desc="true"
      >

        <template v-slot:top>
          <v-toolbar 
            flat
          >
            <v-toolbar-title>Customers</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              class="mr-3"
              single-line
              hide-details
            ></v-text-field>
            <v-dialog
              v-model="dialog"
              max-width="500px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                  @click="newCustomer()"
                >
                  New Customer
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Customers</span>
                </v-card-title>

                <form>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                      
                        <v-text-field
                          label="First Name"
                          v-model="$v.editedItem.firstName.$model"
                          :error-messages="firstNameErrors"
                          required
                          @input="$v.editedItem.firstName.$touch()"
                          @blur="$v.editedItem.firstName.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Last Name"
                          v-model="$v.editedItem.lastName.$model"
                          :error-messages="lastNameErrors"
                          required
                          @input="$v.editedItem.lastName.$touch()"
                          @blur="$v.editedItem.lastName.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Email"
                          v-model="$v.editedItem.email.$model"
                          :error-messages="emailErrors"
                          required
                          @input="$v.editedItem.email.$touch()"
                          @blur="$v.editedItem.email.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Mobile Number"
                          v-model="$v.editedItem.mobileNumber.$model"
                          :error-messages="mobileErrors"
                          :counter="10"
                          required
                          @input="$v.editedItem.mobileNumber.$touch()"
                          @blur="$v.editedItem.mobileNumber.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="12"
                        md="12"
                      >
                        <v-text-field
                          label="Address"
                          v-model="$v.editedItem.address.$model"
                          :error-messages="addressErrors"
                          required
                          @input="$v.editedItem.address.$touch()"
                          @blur="$v.editedItem.address.$touch()"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
             
      </v-data-table>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { required, email, numeric,  maxLength } from "vuelidate/lib/validators";

export default {
    middleware: 'authenticated',
    
    computed: {
        ...mapState([
            'customers','totalGridItems','numberOfPages'
        ]),

        firstNameErrors () {
          const errors = []
          if (!this.$v.editedItem.firstName.$dirty) return errors
          !this.$v.editedItem.firstName.required && errors.push('First name is required.')
          return errors
      },
      lastNameErrors () {
          const errors = []
          if (!this.$v.editedItem.lastName.$dirty) return errors
          !this.$v.editedItem.lastName.required && errors.push('Last name is required.')
          return errors
      },
      emailErrors () {
          const errors = []
          if (!this.$v.editedItem.email.$dirty) return errors
          !this.$v.editedItem.email.email && errors.push('Must be valid e-mail')
          !this.$v.editedItem.email.required && errors.push('Email is required.')
          return errors
      },
      mobileErrors () {
          const errors = []
          if (!this.$v.editedItem.mobileNumber.$dirty) return errors
          !this.$v.editedItem.mobileNumber.maxLength && errors.push('Name must be at most 10 numbers')
          !this.$v.editedItem.mobileNumber.required && errors.push('Mobile number is required.')
          !this.$v.editedItem.mobileNumber.numeric && errors.push('Must be valid number')
          return errors
      },
      addressErrors () {
          const errors = []
          if (!this.$v.editedItem.address.$dirty) return errors
          !this.$v.editedItem.address.required && errors.push('Address is required.')
          return errors
      },
    },
    async mounted(){
      // this.loading = true;
      // this.readDataFromAPI();
        
    }, 
     watch: {
        options: {
          handler() {
            this.loading = true;
            this.readDataFromAPI();
          },
        },
        deep: true,
        search: function(val, oldVal) {
          clearTimeout(this.timer);
          this.timer = setTimeout(() => {
              this.loading = true;
            this.readDataFromAPI();
          }, 500);
        }
      },
    data(){
        return {
            timer: '',
            search: '',
            options: {},
            page: 0,
            loading:true,
            tableName: "Customers",
            headers: [
                { text: 'First Name', align: 'center', value: 'firstName',},
                { text: 'Last Name', align: 'center', value: 'lastName',},
                { text: 'Email', value: 'email', align: 'center', },
                { text: 'Mobile', value: 'mobileNumber', align: 'center', },
                { text: 'Address', value: 'address', align: 'center', },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
            menu: false,
            dialog: false,
            dialogDelete: false,
            editedIndex: -1,
            addMood: false,
            editedItem: {
                id: '',
                firstName: '',
                lastName: '',
                email: '',
                mobileNumber: '',
                address: '',
            },
            defaultItem: {
                id: '',
                firstName: '',
                lastName: '',
                email: '',
                mobileNumber: '',
                address: '',
            },
        }
    },
    validations: {
      editedItem: {
        firstName: {required},
        lastName: {required} ,
        email: {required, email},
        mobileNumber: {required, numeric, maxLength: maxLength(10)},
        address: {required},
      }
    },
    methods: {
            getOptions(){
              return {
                options : this.options,
                search: this.search
              }
            },
            async readDataFromAPI(){
              console.log('this.search',this.search);
              await this.$store.dispatch('getCustomers', this.getOptions());
              this.loading = false;   
            },
            newCustomer(){
                this.addMood = true;
            },
            editItem (item) {
                this.editedIndex = this.customers.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                this.editedIndex = this.customers.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm () {
                this.$store.dispatch('deleteCustomer', this.editedItem.id)
                this.closeDelete()
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            getCustomerObject(){
                console.log('getCustomerObject');
                return {
                    editCustomer: {
                        firstName: this.editedItem.firstName,
                        lastName: this.editedItem.lastName,
                        email: this.editedItem.email,
                        mobileNumber: this.editedItem.mobileNumber,
                        address: this.editedItem.address,
                    },
                    customerId: this.editedItem.id,
                    editIndex: this.editedIndex
                }
            },

            save () {
              this.$v.$touch()
                if(!this.$v.$invalid){
                  if (this.editedIndex > -1) {
                      // Object.assign(this.customers[this.editedIndex], this.editedItem)
                      this.$store.dispatch('updateCustomer', this.getCustomerObject())
                  } else {
                      this.$store.dispatch('saveCustomer', this.editedItem)
                  // this.customers.push(this.editedItem)
                  }
                  this.addMood = false;
                  this.close()
                }
            },
        
    }
      
}
</script>

<style lang="scss" scoped>

</style>