<template>
  <div class="category-table-section" style="width: 80%">
    <v-data-table
      :headers="headers"
      :items="technicians"
      :items-per-page="10"
      class="elevation-1 mt-5"
      :loading="loading"
      loading-text="Loading... Please wait"
      :options.sync="options"
      :pageCount="numberOfPages"
      :server-items-length="totalGridItems"
      :sort-desc="true"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Technician Registry</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        class="mr-3"
        single-line
        hide-details
      ></v-text-field>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
                @click="newJob()"
              >
                New Technician
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">Technician Registry</span>
              </v-card-title>

              <form>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <v-text-field
                          label="Technician Frist Name"
                          v-model="$v.editedItem.firstName.$model"
                          :error-messages="technicianFirstNameValidations"
                          required
                          @input="$v.editedItem.firstName.$touch()"
                          @blur="$v.editedItem.firstName.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="12">
                        <v-text-field
                          label="Technician Last Name"
                          v-model="$v.editedItem.lastName.$model"
                          :error-messages="technicianLastNameValidation"
                          required
                          @input="$v.editedItem.lastName.$touch()"
                          @blur="$v.editedItem.lastName.$touch()"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancel
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
                </v-card-actions>
              </form>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  middleware: 'authenticated',
  async created() {
    
  },
  computed: {
    ...mapState(['technicians', 'numberOfPages', 'totalGridItems' ]),

    technicianFirstNameValidations() {
      const errors = []
      if (!this.$v.editedItem.firstName.$dirty) return errors
      !this.$v.editedItem.firstName.required &&
        errors.push('Service name is required.')
      return errors
    },
    technicianLastNameValidation() {
      const errors = []
      if (!this.$v.editedItem.lastName.$dirty) return errors
      !this.$v.editedItem.lastName.required && errors.push('Service charge is required.')
      return errors
    },
  },
  data() {
    return {
      timer: '',
      search: '',
      options: {},
      loading:true,
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Technician Frist Name', align: 'center', value: 'firstName' },
        { text: 'Technician Last Name', align: 'center', value: 'lastName' },
        { text: 'Actions', value: 'actions', align: 'center', sortable: false },
      ],
      editedIndex: -1,
      editedItem: {
        id: '',
        firstName: '',
        lastName: '',
      },
      defaultItem: {
        id: '',
        firstName: '',
        lastName: '',
      },
    }
  },
  validations: {
    editedItem: {
      firstName: { required },
      lastName: { required },
    },
  },
   watch: {
    options: {
      handler() {
        this.loading = true;
        this.readDataFromAPI();
      },
    },
    deep: true,
    search: function(val, oldVal) {
      clearTimeout(this.timer);
      this.timer = setTimeout(() => {
          this.loading = true;
        this.readDataFromAPI();
      }, 500);
    }
  },
  methods: {
    getOptions(){
      return {
        options : this.options,
        search: this.search
      }
    },
    async readDataFromAPI(){
      await this.$store.dispatch('getTechnicians',this.getOptions());
      this.loading = false; 
    },
    newJob() {},
    editItem(item) {
      console.log('edit item', item)
      this.editedIndex = this.technicians.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.technicians.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.$store.dispatch('deleteTechnician', this.editedItem.id)
      this.closeDelete()
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    getTechnicianObject() {
      return {
        editTechnician: {
          firstName : this.editedItem.firstName,
          lastName: this.editedItem.lastName
        },
        technicianId: this.editedItem.id,
        editIndex: this.editedIndex,
      }
    },
    save() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        if (this.editedIndex > -1) {
          this.$store.dispatch('updateTechnician', this.getTechnicianObject())
        } else {
          this.$store.dispatch('saveTechnician', this.editedItem)
        }
        this.addMood = false
        this.close()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.category-table-section {
  width: 80%;
}
</style>
