<template>
  <v-container
    class="spacing-playground pa-2"
    fluid
  >
    <v-card
    class="spacing-playground pa-5"
      elevation="5"
    >
      <div class="d-flex flex-column">
        <div class="d-flex">
          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="date"
                  label="Picker without buttons"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="dates"
                no-title
                scrollable
                range
              >
              <v-spacer></v-spacer>
              <v-btn
                text
                color="primary"
                @click="menu = false"
              >
                Cancel
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.menu.save(date)"
              >
                OK
              </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            md="4"
          >
          <v-text-field
            v-model="search"
            label="Search"
          ></v-text-field>
          </v-col>
        </div>
      </div>
    </v-card>
  
  <DataTable :headers="headers" :desserts="desserts" :toolBar="false"></DataTable>
  </v-container>

</template>

<script>

import DataTable from '@/components/DataTable.vue';

export default {
  middleware: 'authenticated',
  // Watch for $route.query.page to call Component methods (asyncData, fetch, validate, layout, etc.)
  watchQuery: ['page'],
  // Key for <NuxtChild> (transitions)
  key: to => to.fullPath,
  // Called to know which transition to apply
  transition (to, from) {
    if (!from) { return 'slide-left' }
    return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  },
  data () {
      return {
        dialog: false,
        dialogDelete: false,
        headers: [
          {
            text: 'Job Id',
            align: 'start',
            value: 'jobId',
          },
          { text: 'Customer Name', value: 'customerName' },
          { text: 'Vehicle', value: 'vehicleNo' },
          { text: 'Contact No', value: 'contactNo' },
          { text: 'Next Service Date', value: 'nextServiceDate' },
          { text: 'Post Service Date', value: 'postServiceDate' },
          { text: 'Actions', value: 'actions', sortable: false },
        ],
        desserts: [
          {
            jobId: 'Frozen Yogurt',
            customerName: 159,
            vehicleNo: 6.0,
            contactNo: 24,
            nextServiceDate: 4.0,
            postServiceDate: '1%',
          },
          {
            jobId: 'Frozen Yogurt',
            customerName: 159,
            vehicleNo: 6.0,
            contactNo: 24,
            nextServiceDate: 4.0,
            postServiceDate: '1%',
          },
          
        ],
        editedIndex: -1,
        editedItem: {
          name: '',
          calories: 0,
          fat: 0,
          carbs: 0,
          protein: 0,
        },
        defaultItem: {
          name: '',
          calories: 0,
          fat: 0,
          carbs: 0,
          protein: 0,
        },
      }
    },
  components: {
    DataTable,
  },
  computed: {
      dateRangeText () {
        return this.dates.join(' ~ ')
      },
    },
  methods: {
    editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
  }
}
</script>
