<template>
    <div>
        <!-- <DataTable :headers="headers" :desserts="customers" :toolBar="true" :toolBarName="tableName">
            
        </DataTable> -->
        <v-data-table
        :headers="headers"
        :items="vehicles"
        :items-per-page="5"
        class="elevation-1 mt-5"
        :loading="loading"
        loading-text="Loading... Please wait"
        :options.sync="options"
        :pageCount="numberOfPages"
        :server-items-length="totalGridItems"
        :sort-desc="true"
      >

        <template v-slot:top>
          <v-toolbar 
            flat
          >
            <v-toolbar-title>Vehicle</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              class="mr-3"
              single-line
              hide-details
            ></v-text-field>
            <v-dialog
              v-model="dialog"
              max-width="1000px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                  @click="newVehicle()"
                >
                  New Vehicle
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Vehicle</span>
                </v-card-title>

                <form>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                      
                        <v-text-field
                          label="Vehicle Number"
                          v-model="$v.editedItem.vehicleNumber.$model"
                          :error-messages="vechicleNumberErrors"
                          required
                          @input="$v.editedItem.vehicleNumber.$touch()"
                          @blur="$v.editedItem.vehicleNumber.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Year"
                          v-model="$v.editedItem.year.$model"
                          :error-messages="yearErrors"
                          required
                          @input="$v.editedItem.year.$touch()"
                          @blur="$v.editedItem.year.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Model"
                          v-model="$v.editedItem.model.$model"
                          :error-messages="modelErrors"
                          required
                          @input="$v.editedItem.model.$touch()"
                          @blur="$v.editedItem.model.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Chassis Number"
                          v-model="$v.editedItem.chassisNumber.$model"
                          :error-messages="chassisErrors"
                          required
                          @input="$v.editedItem.chassisNumber.$touch()"
                          @blur="$v.editedItem.chassisNumber.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Engine Number"
                          v-model="$v.editedItem.engineNumber.$model"
                          :error-messages="engineNumberErrors"
                          required
                          @input="$v.editedItem.engineNumber.$touch()"
                          @blur="$v.editedItem.engineNumber.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-select
                        :items="customers"
                        label="Customer"
                        v-model="$v.editedItem.customer.$model"
                        :error-messages="customerErrors"
                        required
                        @input="$v.editedItem.customer.$touch()"
                        @blur="$v.editedItem.customer.$touch()"
                        :item-text="item => item.firstName +' '+ item.lastName"
                        item-value="id"
                      
                        ></v-select>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          label="Current Milage"
                          v-model="$v.editedItem.currentMileage.$model"
                          :error-messages="currentMilageErrors"
                          required
                          @input="$v.editedItem.currentMileage.$touch()"
                          @blur="$v.editedItem.currentMileage.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <!-- <ImageUploader/> -->
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { required, email, numeric,  maxLength, decimal } from "vuelidate/lib/validators";
import ImageUploader from '@/components/ImageUploader.vue';

export default {
    middleware: 'authenticated',
    components: {
        ImageUploader
    },
    async created(){
        await this.$store.dispatch('getCustomerList')
    }, 
    
    computed: {
        ...mapState([
            'vehicles','customers', 'numberOfPages', 'totalGridItems'
        ]),

        vechicleNumberErrors () {
          const errors = []
          if (!this.$v.editedItem.vehicleNumber.$dirty) return errors
          !this.$v.editedItem.vehicleNumber.required && errors.push('Vehicle number is required.')
          return errors
      },
      yearErrors () {
          const errors = []
          if (!this.$v.editedItem.year.$dirty) return errors
          !this.$v.editedItem.year.required && errors.push('Year is required.')
          return errors
      },
      modelErrors () {
          const errors = []
          if (!this.$v.editedItem.model.$dirty) return errors
          !this.$v.editedItem.model.required && errors.push('Model is required.')
          return errors
      },
      chassisErrors () {
          const errors = []
          if (!this.$v.editedItem.chassisNumber.$dirty) return errors
          !this.$v.editedItem.chassisNumber.required && errors.push('Chassis number is required.')
          return errors
      },
      engineNumberErrors () {
          const errors = []
          if (!this.$v.editedItem.engineNumber.$dirty) return errors
          !this.$v.editedItem.engineNumber.required && errors.push('Engine Number is required.')
          return errors
      },
      customerErrors () {
          const errors = []
          if (!this.$v.editedItem.customer.$dirty) return errors
          !this.$v.editedItem.customer.required && errors.push('customer is required.')
          return errors
      },
      currentMilageErrors () {
          const errors = []
          if (!this.$v.editedItem.currentMileage.$dirty) return errors
          !this.$v.editedItem.currentMileage.required && errors.push('Current Milage is required.')
          !this.$v.editedItem.currentMileage.decimal && errors.push('Current Milage need to be a decimal value.')
          return errors
      },
    },
    
    data(){
        return {
            timer: '',
            search: '',
            options: {},
            loading:true,
            tableName: "Vehicles",
            headers: [
                {
                    text: 'Vehicle Number',
                    align: 'center',
                    value: 'vehicleNumber',
                },
                { text: 'Year', value: 'year', align: 'center', },
                { text: 'Model', value: 'model', align: 'center', },
                { text: 'Chassis Number', value: 'chassisNumber', align: 'center', },
                { text: 'Engine Number', value: 'engineNumber', sortable: false },
                { text: 'Current Mileage', value: 'currentMileage', sortable: false },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
            menu: false,
            dialog: false,
            dialogDelete: false,
            editedIndex: -1,
            addMood: false,
            editedItem: {
                id: '',
                vehicleNumber: '',
                year: '',
                model: '',
                chassisNumber: '',
                engineNumber: '',
                customer: '',
                currentMileage: '',
                image_ids: []
            },
            defaultItem: {
                id: '',
                vehicleNumber: '',
                year: '',
                model: '',
                chassisNumber: '',
                engineNumber: '',
                customer: '',
                currentMileage: '',
                image_ids: []
            },
        }
    },
    validations: {
      editedItem: {
        vehicleNumber: {required},
        year: {required, numeric} ,
        model: {required},
        chassisNumber: {required},
        engineNumber: {required},
        customer: {required},
        currentMileage: {required, decimal},
      }
    },
     watch: {
        options: {
          handler() {
            this.loading = true;
            this.readDataFromAPI();
          },
        },
        deep: true,
        search: function(val, oldVal) {
          clearTimeout(this.timer);
          this.timer = setTimeout(() => {
              this.loading = true;
            this.readDataFromAPI();
          }, 500);
        }
      },
    methods: {
            getOptions(){
              return {
                options : this.options,
                search: this.search
              }
            },
            async readDataFromAPI(){
              console.log('this.search',this.search);
              await this.$store.dispatch('getVehicles',this.getOptions());
              this.loading = false; 
            },
            async newVehicle(){
                this.addMood = true;
                
            },
            editItem (item) {
              let reformatObject;
                if(item.customer.id){
                  reformatObject = {
                    ...item,
                    customer: item.customer.id
                  }
                } else {
                  reformatObject = {
                    ...item
                  }
                }
                this.editedIndex = this.vehicles.indexOf(item)
                this.editedItem = Object.assign({}, reformatObject)
                this.dialog = true
            },

            deleteItem (item) {
                this.editedIndex = this.vehicles.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialogDelete = true
            },

            deleteItemConfirm () {
                this.$store.dispatch('deleteVehicle', this.editedItem.id)
                this.closeDelete()
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                })
            },

            getVehicleObject(){
                console.log('getVehicleObject');
                return {
                    editVehicle: {
                        vehicleNumber: this.editedItem.vehicleNumber,
                        year: this.editedItem.year,
                        model: this.editedItem.model,
                        chassisNumber: this.editedItem.chassisNumber,
                        engineNumber: this.editedItem.engineNumber,
                        customer : this.editedItem.customer,
                        currentMileage : this.editedItem.currentMileage,
                        image_ids: []
                    },
                    vehicleId: this.editedItem.id,
                    editIndex: this.editedIndex
                }
            },

            getSaveVehicleObject(){
              return {
                ...this.editedItem,
                customerId: this.editedItem.customer
              }
            },

            save () {
                // console.log(this.getVehicleObject());
              this.$v.$touch()
                if(!this.$v.$invalid){
                  if (this.editedIndex > -1) {
                      // Object.assign(this.customers[this.editedIndex], this.editedItem)
                      this.$store.dispatch('updateVehicle', this.getVehicleObject())
                  } else {
                    console.log("get vehicle",this.getSaveVehicleObject());
                      // this.$store.dispatch('saveVehicle', this.getSaveVehicleObject())
                      this.$store.dispatch('saveVehicle', this.editedItem)
                  // this.customers.push(this.editedItem)
                  }
                  this.addMood = false;
                  this.close()
                }
            },
        
    }
      
}
</script>

<style lang="scss" scoped>

</style>