<template>
  <div>
      <Job></Job>
      <SpareParts :id="jobId" ></SpareParts>
      <Services :id="jobId" ></Services>
      <JobTotal :id="id" ></JobTotal>
  </div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import Job from '@/components/Job.vue'
import SpareParts from '@/components/SpareParts.vue'
import Services from '@/components/Services.vue'
import JobTotal from '@/components/JobTotal.vue'
import { mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  // Key for <NuxtChild> (transitions)
  key: (to) => to.fullPath,

  components: {
    DataTable,Job, SpareParts, Services
  },
  // Called to know which transition to apply
  transition(to, from) {
    if (!from) {
      return 'slide-left'
    }
    return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  },
  watchQuery: ['page'],
  computed: {
    ...mapState(['jobObject', 'jobId']),
  },

  data() {
    return {
        jobObject: {
          id: '',
          job_id: '500',
          customer: '',
          past_job: '',
          vehicle_registry: '',
          past_mileage: '',
          current_mileage: '',
          next_service_mileage: '',
          next_service_at: new Date().toISOString().substr(0, 10),
          totalPrice:  '',
          infoValidation: false
      }
    }
  },
  methods: {
    getObject(event){
      console.log('event', event);
    }
  }
}
</script>

<style lang="scss" scoped></style>
