<template>
    <JobGrid />
</template>

<script>
import { mapState } from 'vuex';
import { required, email, numeric,  maxLength } from "vuelidate/lib/validators";
import JobGrid from '@/components/JobGrid.vue';


export default {
    middleware: 'authenticated',

    components: {
      JobGrid
    },
      
}
</script>

<style lang="scss" scoped>

</style>